.outline {
border: 1px solid darkgray;
border-collapse: collapse;
}
.pausen {
text-align: center;
}
.green {
background-color: #0f9d58;
color: white;
}
.gray {
background-color: #f3f3f3;
}
.outline_side {
border-top: 1px solid white;
border-right: 1px solid darkgray;
border-collapse: collapse;
color: white;
}
body {
font-family: arial
}
#plan {
width: 100%
height: 150em;
}
table {
table-layout: auto;
width: 100%;
height: 7vh;
}
